services:
  coturn:
    container_name: coturn
    build: ./coturn
    volumes:
      - ./coturn/etc:/etc
    networks:
      server_network:
        ipv4_address: 10.0.0.10

  stunner:
    container_name: stunner
    build: ./stunner
    tty: true
    entrypoint: ["sh","-c","tail -f /dev/null"]
    depends_on:
      - coturn
    networks:
      server_network:
        ipv4_address: 10.0.0.4

  node:
    container_name: node
    build: ./node
    tty: true
    networks:
      server_network:
        ipv4_address: 10.0.0.3

networks:
  server_network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24
          gateway: 10.0.0.1