services:
  asterisk:
    container_name: asterisk
    build: ./asterisk
    command: asterisk -f -vv
    tty: true
    network_mode: "host"
    volumes:
      - ./asterisk/config:/etc/asterisk     

  sippts:
    container_name: sippts
    build: ./sippts
    command: /bin/bash
    tty: true
    depends_on:
    - asterisk
    volumes:
      - ./audio.wav:/audio.wav        # audio per rtp_inject

  wireshark:
    container_name: wireshark
    image: nsunina/wireshark:1.0
    environment:
    - DISPLAY=:0
    volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix  
    network_mode: "host"            
    privileged: true                
    command: wireshark