services:
  coturn:
    container_name: coturn
    build: ./coturn
    volumes:
      - ./coturn/etc:/etc
    networks:
      server_network:
        ipv4_address: 203.0.113.10

  stunner:
    container_name: stunner
    build: ./stunner
    tty: true
    entrypoint: ["sh","-c","tail -f /dev/null"]
    depends_on:
      - coturn
    networks:
      server_network:
        ipv4_address: 203.0.113.4

  node:
    container_name: node
    image: node:iron-trixie-slim
    tty: true
    volumes:
      - ./node:/node:ro
    command: ["node", "node/server.js"]
    networks:
      server_network:
        ipv4_address: 203.0.113.3

networks:
  server_network:
    driver: bridge
    ipam:
      config:
        - subnet: 203.0.113.0/24
          gateway: 203.0.113.1